<div class="title-container">
  <h1>User scores</h1>
  <p>You can check and update the list below.</p>
</div>

<div class="text-container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Score</th>
          <th scope="col">Edit</th>
          <th scope="col">PDF</th>
        </tr>
      </thead>
      <tbody>
        <% @scores.each do |score| %>
          <tr>
            <th scope="row"><%= score.user.id %></th>
            <td><%= link_to score.user.name, score_path(score) %></td>
            <td><%= score.user.email %></td>
            <td><%= score.total %></td>
            <td><%= link_to "<i class='far fa-edit'></i>".html_safe, edit_score_path(score) %></td>
            <% if score.total > 0 && score.pdf_enabled %>
            <td><%= link_to "<i class='fas fa-file-pdf'></i>".html_safe, score_path(score, format: :pdf) %></td>
            <% else %>
            <td><i class="far fa-file-pdf"></i></td>
            <% end %>
          </tr>
        <% end %>
     </tbody>
  </table>
</div>