<div class="pdf-logo">
  <%= image_tag image_url('marble-header.jpg'), alt: "Marble. Fix your customer churn. Build your own academy." %>
</div>

<div class="pdf-header">
  <h1>Marble Score</h1>
  <p class="disclaimer">This document shows your total score based on your lastest activities. This will be taken into account to your certification. Before finishing your course, make sure to have a total score of 80 or above.</p>
</div>

<div class="pdf-score">
  <h1><strong>Your score is <%= @score.total %></strong></h1>
  <p><%= @score.user.name %>, <%= @score.description %></p>

</div>

<div class="pdf-info">
  <p>Name: <%= @score.user.name %></p>
  <p>Email: <%= @score.user.email %></p>
  <p>Date: <%= Time.zone.now.strftime("printed at %m/%d/%Y")%></p>
</div>

